
@{
    ViewBag.Title = "Console";
}

<h2 class="text-center mb-3">Console Interna</h2>

<h4>Sono le 6 del mattino, ma sono contento di aver raggiunto questo punto, mi manca la parte finale, prometto che la faccio appena mi sveglio. Grazie di tutto :)</h4>

